.LoginForm {
  display: flex;
  flex-direction: column;
}

.formHeader {
  margin: 10px 0;
}

.formControls {
  display: flex;
  flex-direction: column;
}

.formInput {
  margin-bottom: 10px;
  min-width: 300px;
}

.formActions {
  display: flex;
  justify-content: flex-end;
}
