.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  margin-left: 10px;
}

.icon {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.2s;
  }
}
