:root, // without root the styles handled not immediately
.app_blue_theme #storybook-root, // !important: need to check this class for the preview.ts of storybook
.app_blue_theme {
  --bg-color: #1296fc;
  --inverted-bg-color: #f4f8fb;
  --inverted-outline-bg-color: #c0c0c0;
  --primary-color: #cad2c5;
  --secondary-color: #00d0e2;
  --inverted-primary-color: #084779;
  --inverted-secondary-color: #00535b;
}
