.app.dark {
  --bg-color: #2f3e46;
  --inverted-bg-color: #dad7cd;
  --primary-color: #cad2c5;
  --secondary-color: #84a98c;
  --inverted-primary-color: #2f3e46;
  --inverted-secondary-color: #6b705c;
}
