:root, // without root the styles handled not immediately
.app_dark_theme #storybook-root, // !important: need to check this class for the preview.ts of storybook
.app_dark_theme {
  --bg-color: #2f3e46;
  --inverted-bg-color: #dad7cd;
  --inverted-outline-bg-color: #dad7cd;
  --primary-color: #cad2c5;
  --secondary-color: #84a98c;
  --inverted-primary-color: #2f3e46;
  --inverted-secondary-color: #6b705c;
}
