:root, // without root the styles handled not immediately
.app_light_theme #storybook-root, // !important: need to check this class for the preview.ts of storybook
.app_light_theme {
  --bg-color: #edf2f4;
  --inverted-bg-color: #52796f;
  --inverted-outline-bg-color: #edf2f4;
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --inverted-primary-color: #edf2f4;
  --inverted-secondary-color: #ffe8d6;

  // skeleton
  --skeleton-color: #364f48;
  --skeleton-shadow: #87beb1;

  // code
  --code-bg: #eaeaea;

  // card
  --card-bg: #edf2f4;
}
