:root, // without root the styles handled not immediately
.light #storybook-root,
.app.light {
  --bg-color: #edf2f4;
  --inverted-bg-color: #52796f;
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --inverted-primary-color: #edf2f4;
  --inverted-secondary-color: #ffe8d6;
}
