.ProfilePageHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profileActions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.declineBtn {
  margin-right: 10px;
}
