.CommentCard {
  padding: 8px 12px;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 10px;
}

.username {
  margin-left: 7px;
}

.loading {
  border: none;
}
